# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://username:password@localhost:5432/cookshare-backend-postgres-1"
JWT_SECRET=""
ROUNDS=
PORT=3000
WEB_DOMAIN= "http://localhost:3000"
AWS_S3_REGION=""